/* @import "./normalize.css"; */

@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;

}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}



:root {
    --main-color: #FFFFFF;
    --nav-color: #57B8FF;
    --home-color: #030303;
    --nav-hover:#FAC422;
    --home-button:#999999;
    --our-color:#FDD04A;
    --rgb-color:rgba(223, 223, 223, 0.8);
}


.back-top{
  position: fixed;
  padding: 15px;
  border: 5px solid red;
  right: 50px ;
 bottom: 50px;
 z-index: 26;
 border-radius: 50%;
 background-color: transparent;

 opacity: 0;
 transition: 0.2s;
  
}
  
#loading {
	position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
	z-index: 100;
}












<div class="loadingio-spinner-spinner-yuoh2crvwls"><div class="ldio-633px5n89qb">
<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
</div></div>
< type="text/css">
@keyframes ldio-633px5n89qb {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-633px5n89qb div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-633px5n89qb linear 1s infinite;
  background: #fe718d;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-633px5n89qb div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #fe718d;
}.ldio-633px5n89qb div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #fe718d;
}.ldio-633px5n89qb div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fe718d;
}.ldio-633px5n89qb div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #fe718d;
}.ldio-633px5n89qb div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #fe718d;
}.ldio-633px5n89qb div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fe718d;
}.ldio-633px5n89qb div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #fe718d;
}.ldio-633px5n89qb div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #fe718d;
}.ldio-633px5n89qb div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fe718d;
}.ldio-633px5n89qb div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #fe718d;
}.ldio-633px5n89qb div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #fe718d;
}.ldio-633px5n89qb div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fe718d;
}
.loadingio-spinner-spinner-yuoh2crvwls {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-633px5n89qb {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-633px5n89qb div { box-sizing: content-box; }
/* generated by https://loading.io/ */ 